* {
    
    font-family: monospace;
    
  }
  
  #table1 {
    
    
    width: -moz-fit-content;
    width: fit-content;
  }

 button .text { 
    display: inline !important;
  }

.position{
    width: min-content !important;
}

  